<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="Oauth2 & OpenID secured server" name="description"/>
    <meta content="https://tuyendev.github.io" name="author"/>

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100;300&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-touch-icon.png}">
    <link rel="icon" sizes="32x32" th:href="@{/img/favicon-32x32.png}" type="image/png">
    <link rel="icon" sizes="16x16" th:href="@{/img/favicon-16x16.png}" type="image/png">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="manifest" th:href="@{/img/site.webmanifest}">
    <link color="#5bbad5" rel="mask-icon" th:href="@{/img/safari-pinned-tab.svg}">
    <meta content="#da532c" name="msapplication-TileColor">

    <meta content="#ffffff" name="theme-color">
    <title th:text="#{app.signup.views.title}">Sign up - TD Passport</title>
    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" th:rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/6.1.1/js/all.js}"></script>
    <style>
        *{
            font-family: 'Nunito', sans-serif;
            padding: 0;
            margin: 0;
            outline: none;

        }
        body {
            background: #f5f5f5;
            background: linear-gradient(to right, #f5f5f5, #f5f5f5);
        }

        .btn-register {
            font-size: 0.95rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }
        @media only screen and  (max-width: 1399px) {
            .auto-hidden-ipx-gt{
                display: none;
            }
        }
        @media only screen and  (min-width: 1399px) {
            .form-floating-group input {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-8 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">

                <div class="card-body p-4 p-sm-5">
                    <div class="card-title text-center mb-3 fw-bold fs-3">
                        <img alt="TD Passport Logo" class="mb-2" th:src="@{/img/logo.png}"/>
                        <p class="text-uppercase fs-3 fw-bold">
                            <span class="text-info">TD</span>
                            <span class="text-warning">Passport</span>
                        </p>
                    </div>

                    <p class="login-box-msg"></p>
                    <form method="post" th:action="@{/signup}" class="row">

                        <div class="col-md-12">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="input-email" name="name" placeholder="yourmail@sample.com"
                                       required type="text">
                                <label for="input-email">Email</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="input-firstname" name="username" placeholder="yourmail@sample.com"
                                       required type="text">
                                <label for="input-firstname">First Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="input-lastname" name="name" placeholder="yourmail@sample.com"
                                       required type="text">
                                <label for="input-lastname">Last Name</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="form-floating form-floating-group flex-grow-1">
                                    <input id="input-birthdate" type="text" class="form-control datetimepicker-input" data-target="#reservationdate" placeholder="01/01/1978"/>
                                    <label for="input-birthdate">Birthdate</label>
                                </div>
                                <span class="input-group-text auto-hidden-ipx-gt"><i class="fa fa-calendar"></i></span>
                            </div>

                        </div>
                        <div class="col-md-6">

                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-floating mb-3">
                                <input class="form-control" id="input-password" name="password" placeholder="password"
                                       required type="password">
                                <label for="input-password">Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="input-repassword" name="repassword" placeholder="repassword"
                                       required type="password">
                                <label for="input-repassword">Confirm Password</label>
                            </div>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary btn-register text-uppercase fw-bold" type="submit">
                                <span th:text="#{app.signin.views.text.signin}">Sign in</span>
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>