<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <meta charset="UTF-8">
    <title>Client Management</title>

    <!-- DataTables -->
    <link rel="stylesheet"
          th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css}">
    <link rel="stylesheet"
          th:href="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css}">

    <link class="custom-link"/>

    <!-- DataTables  & Plugins -->
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/jszip/jszip.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/pdfmake/pdfmake.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/pdfmake/vfs_fonts.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
    <script class="custom-script" th:src="@{/webjars/AdminLTE/3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
    <script class="custom-script" th:src="@{/js/jquery.spring-friendly.min.js}"></script>
</head>
<body th:replace="~{fragments/layout :: body(~{:: #page-name}, ~{ :: #page-content}, ~{ :: #breadcrumb})}">
<span id="page-name">Client Management</span>
<ol class="breadcrumb float-sm-right" id="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
    <li class="breadcrumb-item active">
        <span>Client Management</span>
    </li>
</ol>
<div id="page-content">

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <a th:href="@{/portal/client/add}" class="btn btn-primary active" role="button" aria-pressed="true">Add</a>
                <button type="button" class="btn btn-danger disabled">Delete</button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <script>
                $(function () {
                    $('table#clientTableData').DataTable({
                        ajax: {
                            contentType: 'application/json',
                            url: '/api/client/list',
                            type: 'POST',
                            data: function (d) {
                                return JSON.stringify(d);
                            }
                        },
                        serverSide: true,
                        columns: [
                            {
                                data: 'id'
                            },
                            {
                                data: 'clientId'
                            },
                            {
                                data: 'clientName'
                            },
                            {
                                data: 'scopes'
                            },
                            {
                                data: 'authorizationGrantTypes'
                            },
                            {
                                data: 'createdDate'
                            }
                        ]
                    })});
            </script>
            <table id="clientTableData" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ClientID</th>
                    <th>Name</th>
                    <th>Scopes</th>
                    <th>AuthorizationGrantTypes</th>
                    <th>CreatedDate</th>
                    <th>...</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
</body>
</html>